<div>
    {{ block.settings.product.metafields.custom.loop_image }}
    {{ block.settings.product.title }}
    {{ block.settings.product.price | money }}
    <input type="checkbox">
</div>

{% schema %}
{
    "name": "Frequently bought",
    "settings": [
        {
            "type": "product_list",
            "id": "product_list",
            "label": "t:settings.product"
        }
    ],
    "presets": [
        {
            "name": "Frequently bought together"
        }
    ]
     
}
{% endschema %}