<div>
    hejhasdijbs
    {{ product.metafields.custom.loop_image }}
</div>

{% schema %}
{
    "name": "Frequently bought",
    "settings": [
        {
            "type": "product",
            "id": "product",
            "label": "t:settings.product"
        }
    ],
    "presets": [
        {
            "name": "Frequently bought together"
        }
    ]
     
}
{% endschema %}