{% liquid
    
    assign scientificstudies = product.metafields.custom.scientific_studies.value
%}

<div>
    hello
    {% for item in scientificstudies %}
  {{ item }}
{% endfor %}
</div>

{% schema %}
{
  "name": "Scientific Studies",
  "presets": [
    {
        "name": "Scientific Studies"
    }
  ]
}
{% endschema %}