{% liquid
    assign scientificstudies = product.metafields.custom.scientific_studies.value
%}

<div class="section">
    
    {% for item in scientificstudies %}
        <div class="flex">
            <div>
                {% if forloop.index < 10 %}
                    0{{ forloop.index }}
                {% else %}
                    {{ forloop.index }}
                {% endif %} 
            </div>
            
            <div class="item">
                {{ item }}
            </div>
        </div>
    {% endfor %}
</div>

{% schema %}
{
  "name": "Scientific Studies",
  "presets": [
    {
        "name": "Scientific Studies"
    }
  ]
}
{% endschema %}