{% liquid
    
    assign scientific-studies = product.metafields.custom.scientific_studies
%}

<div>
    
    {% for item in scientific-studies  %}
            {{item}}
    {% endfor %}
</div>

{% schema %}
{
  "name": "Scientific Studies",
  
  
  "presets": [
    {
        "name": "Scientific Studies"
    }
  ]
}
{% endschema %}