{% liquid
    assign scientificstudies = product.metafields.custom.scientific_studies.value
%}

<div>
    
    {% for item in scientificstudies %}
        <div>
            <div class="number">
                {{ forloop.index }}
            </div>
            <div class="item">
                {{ item }}
            </div>
        </div>
    {% endfor %}
</div>

{% schema %}
{
  "name": "Scientific Studies",
  "presets": [
    {
        "name": "Scientific Studies"
    }
  ]
}
{% endschema %}