{% liquid
    
    assign scientificstudies = product.metafields.custom.scientific_studies
%}

<div>
    hello
    {% for item in scientificstudies  %}
            <div>{{item}}</div>
    {% endfor %}
</div>

{% schema %}
{
  "name": "Scientific Studies",
  "presets": [
    {
        "name": "Scientific Studies"
    }
  ]
}
{% endschema %}