{% liquid
    
    assign scientific_studies = product.metafieldscustom.scientific_studies
%}

<div>
    hellalajdalksjd {{ item }}
    {% for item in scientific_studies  %}
            <div class="col">
                <div class="number d-flex items-center justify-center">{{ forloop.index }}</div>
                <div class="text">{{ item }} hello</div>
            </div>
    {% endfor %}
</div>

{% schema %}
{
  "name": "Scientific Studies",
  
  
  "presets": [
    {
        "name": "Scientific Studies"
    }
  ]
}
{% endschema %}