<div class="main">
    <div class="imgg">
        {{ section.settings.image | image_url: width: 200 | image_tag: alt: section.settings.section_image.alt }}
        <div class="color-gray"></div>
    </div>
    <div class="product_image">
        {{ section.settings.product.metafields.custom.loop_image | image_url: width: 200 | image_tag: alt: 'product bottle'}}
    </div>
    <div class="txt">
        <div class="content">Gut Pro is a scientifically-formulated probiotic designed as a women's health supplement. Featuring clinically-researched probiotic strains and potent botanical extracts, this innovative gut health supplement works tirelessly to enhance digestive function and overall gut health</div>
        <div class="color-gray"></div>
    </div>
</div>
{% stylesheet %}
.product_image{
    position: absolute;
    left: 25%;
}
    .main{
        display: flex;
        width: 100%;
    }
    .imgg{
        width: 35%;
    }
    .imgg img{
        height: 400px;
        object-fit: cover;
    }
    .color-gray{
        background-color: #F9F9F9;
        width: 100%;
        min-height: 100px;
    }
    .product_image{
        width: 370px;
    }
    .content{
        background-color: aqua;
        height: 400px;
        padding: 0 0 0 160px;
    }
    .txt{
        width: 65%;
    }
{% endstylesheet %}

{% schema %}
{
  "name": "Shop product",
  "settings": [
    {
        "type": "product",
        "id": "product",
        "label": "Choose product"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Choose image"
    },
    {
      "type": "color",
      "id": "color",
      "label": "BSackground color"
    }
  ],
  "presets": [
    {
      "name": "Shop Product"
    }
  ]
}
{% endschema %}