<div class="flex">
    <div class="img">
        {{ section.settings.image | image_url: width: 200 | image_tag: alt: section.settings.section_image.alt }}
        <div class="color-gray"></div>
    </div>
    <div class="product_image">
        {{ section.settings.product.metafields.custom.loop_image | image_url: width: 200 | image_tag: alt: 'product bottle'}}
    </div>
    <div class="txt">
    ssdfd
        <div class="color-gray"></div>
    </div>
</div>
{% stylesheet %}
    .img{
        width: 35%;
    }
    .color-gray{
        background-color: #F9F9F9;
        width: 100%;
        min-height: 100px;
    }
    .product_image{
        width: 370px;
    }
{% endstylesheet %}

{% schema %}
{
  "name": "Shop product",
  "settings": [
    {
        "type": "product",
        "id": "product",
        "label": "Choose product"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Choose image"
    },
    {
      "type": "color",
      "id": "color",
      "label": "BSackground color"
    }
  ],
  "presets": [
    {
      "name": "Shop Product"
    }
  ]
}
{% endschema %}