<div class="main">
    <div class="imgg">
        {{ section.settings.image | image_url: width: 200 | image_tag: alt: section.settings.section_image.alt }}
        <div class="color-gray"></div>
    </div>
    {% comment %} <div class="product_image">
        {{ section.settings.product.metafields.custom.loop_image | image_url: width: 200 | image_tag: alt: 'product bottle'}}
    </div> {% endcomment %}
    <div class="txt">
        <div class="content">asdfasf</div>
        <div class="color-gray"></div>
    </div>
</div>
{% stylesheet %}
    .main{
        display: flex;
    }
    .imgg image{
        width: 35%;
        height: 100px;
        object-fit: cover;
    }
    .color-gray{
        background-color: #F9F9F9;
        width: 100%;
        min-height: 100px;
    }
    .product_image{
        width: 370px;
    }
    .content{
        background-color: aqua;
    }
{% endstylesheet %}

{% schema %}
{
  "name": "Shop product",
  "settings": [
    {
        "type": "product",
        "id": "product",
        "label": "Choose product"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Choose image"
    },
    {
      "type": "color",
      "id": "color",
      "label": "BSackground color"
    }
  ],
  "presets": [
    {
      "name": "Shop Product"
    }
  ]
}
{% endschema %}