<div class="main">
    <div class="imgg">
        {{ section.settings.image | image_url: width: 200 | image_tag: alt: section.settings.section_image.alt }}
        <div class="color-gray"></div>
    </div>
    
    <div class="txt">
        <div class="prod-content">{% content_for 'blocks' %}</div>
        <div class="color-gray">
            <div class="flex">
                {% render 'quick-add', product: section.settings.product, section_id: section.id %}
                <button class="button flex items-center product-carousel-add" data-product-id="{{ section.settings.product.id }}">
                <span class="icon">{% render 'icon', icon: 'bag' %}</span>
                    Shop Now
                </button>
                <a class="button button-secondary flex items-center" href="{{ section.settings.product.url }}"><span class="icon-second-btn">{% render 'icon', icon: 'chevron-right', width: 17 %}</span>View Product </a>
            </div>
        </div>
    </div>
    <div class="product-img">
        {{ section.settings.product.metafields.custom.loop_image | image_url: width: 200 | image_tag: alt: 'product bottle'}}
    </div>
</div>
{% stylesheet %}

    .main{
        display: flex;
        flex-direction: row;
        /* reverse row */
        width: 100%;
    }
    .imgg{
        width: 35%;
    }
    .imgg img{
        height: 400px;
        object-fit: cover;
    }
    .color-gray{
        background-color: #F9F9F9;
        width: 100%;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product_image{
        width: 370px;
        position: absolute;
        left: 475px;
        top: 235px;
    }
    .prod-content, .color-gray {
        padding: 0 0 0 160px;
    }
    .prod-content{
        background-color: aqua;
        height: 400px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
    .txt{
        width: 65%;
    }
      .product-img {
    position: absolute;
    left: 35%;
    bottom: -230px;
    transform: translateX(-50%);
    width: 370px;
  }

  .product-img img {
    width: 100%;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Shop product",
  "blocks": [
    {
        "type": "@theme"
    }
  ],
  "settings": [
    {
        "type": "product",
        "id": "product",
        "label": "Choose product"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Choose image"
    },
    {
      "type": "color",
      "id": "color",
      "label": "BSackground color"
    }
  ],
  "presets": [
    {
      "name": "Shop Product"
    }
  ]
}
{% endschema %}