<div class="main">
    <div class="imgg">
        {{ section.settings.image | image_url: width: 200 | image_tag: alt: section.settings.section_image.alt }}
        <div class="color-gray"></div>
    </div>
    
    <div class="txt">
        <div class="content">{% content_for 'blocks' %}</div>
        <div class="color-gray"></div>
    </div><div class="product-img">
        {{ section.settings.product.metafields.custom.loop_image | image_url: width: 200 | image_tag: alt: 'product bottle'}}
    </div>
</div>
{% stylesheet %}

    .main{
        display: flex;
        flex-direction: row;
        /* reverse row */
        width: 100%;
    }
    .imgg{
        width: 35%;
    }
    .imgg img{
        height: 400px;
        object-fit: cover;
    }
    .color-gray{
        background-color: #F9F9F9;
        width: 100%;
        min-height: 100px;
    }
    .product_image{
        width: 370px;
        position: absolute;
        left: 475px;
        top: 435px;
    }
    .content{
        background-color: aqua;
        height: 400px;
        padding: 0 0 0 160px;
    }
    .txt{
        width: 65%;
    }
      .product-img {
    position: absolute;
    left: 35%;
    bottom: -230px;
    transform: translateX(-50%);
    width: 370px;
  }

  .product-img img {
    width: 100%;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Shop product",
  "blocks": [
    {
        "type": "@theme"
    }
  ],
  "settings": [
    {
        "type": "product",
        "id": "product",
        "label": "Choose product"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Choose image"
    },
    {
      "type": "color",
      "id": "color",
      "label": "BSackground color"
    }
  ],
  "presets": [
    {
      "name": "Shop Product"
    }
  ]
}
{% endschema %}