{% stylesheet %}
{% endstylesheet %}

<style>
  .topbar {
      background-color: {{section.settings.bg_color}}
  }
</style>

<div class="topbar-inner"></div>

{% schema %}
{
  "name": "Topbar",
  "tag": "header",
  "class": "topbar",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    }
  ],
  "presets": [
    {
      "name": "topbar"
    }
  ]
}
{% endschema %}
