{% stylesheet %}
  .topbar-inner {
    padding: 8px 0;
    color: white;
  }
{% endstylesheet %}

<style>
  .topbar {
      background-color: {{section.settings.bg_color}};
  }
</style>

<div class="topbar-inner section section--page-width">
  <div class="flex">
    <div>{{ section.settings.left_text }}</div>

    <div class="flex"></div>
  </div>
</div>

{% schema %}
{
  "name": "Topbar",
  "class": "topbar",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "left_text",
      "label": "Left Text"
    },
    {
      "type": "text",
      "id": "email",
      "label": "Email"
    },
    {
      "type": "text",
      "id": "phone",
      "label": "Phone"
    },
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show announcement",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "topbar"
    }
  ]
}
{% endschema %}
