.variant-option__button-label__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    padding: 10px;
}
.variant-option__button-label{
    margin: 17px;
}
.variant-option--buttons,
.variant-content {
    display: flex;
    flex-direction: column;
}

.variant-option--equal-width-buttons {
    .variant-option__button-label__text {
        text-align: left;
    }
}
.variant-content-top {
    font-weight: bold;
}
.discount-price{
    color: red;
    font-weight: normal;
    text-decoration: line-through;
}