.variant-option__button-label__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    width: 100%;
}

.variant-option--buttons,
.variant-content {
    display: flex;
    flex-direction: column;
}

