.variant-option__button-label__text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.variant-option--buttons {
    display: flex;
    flex-direction: column;
}